* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    width: 98%;
    height: 98%;
    border: 2px solid white;
    background-color: #222;
}